.header {
  width: 100%;
  position: relative;
  padding: 48px 0 75px 0;
  display: flex;
  align-items: center;

  & .back-arrow-button {
    margin-right: 63px;
  }

  &__title {
    margin-right: auto;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__basket {
    margin-right: 22px;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__basket-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
  }

  &__basket-img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #D58C51 url('../../../public/images/basket.svg') no-repeat center;
  }
}