.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 43px 21px 30px 21px;
  width: 310px;
  height: 552px;
  color: #FFFFFF;
  border: 1px solid #D58C51;
  transition-duration: 200ms;
}

.card:hover {
  color: #D58C51;
}

.card__img {
  margin-bottom: 31px;
}

.card__title {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
}

.card__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__dish-price {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
}

.card__dish-weight {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.card__button {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  transition-duration: 200ms;
}

.card__button:hover {
  background-color: #D58C51;
  border: 1px solid #D58C51;
}

.card__button::after,
.card__button::before {
  content: '';
  display: block;
  height: 2px;
  width: 13px;
  background-color: #fff;
  border-radius: 1px;

  position: absolute;
  left: 7px;
  top: 13px;
}

.card__button::before {
  transform: rotate(90deg);
}